.Toolbar {
    background-color: darkgray;
    margin: auto;
    width: 63%;
    text-align: center;
    display: block;
}

.black {
    color: black;
}

.white {
    color: white;
}

.CenterDiv {
    display: inline-block;
}