.doc .doc__background-ribbon {
    height: 200px;
    background: #fff;
}

.doc .doc__text-editor {
    width: 60%;
    padding: 40px 28px;
    min-height: 300px;
    background: #fff;
    margin: 0 auto;
    transform: translateY(-150px);
    border: 1px solid;
}

.editable {
    font-family: sans-serif;
    margin-left: 12%;
    margin-top: 2%;
    width: 75%;
    min-height: 400px;
    border: 1px dashed #aaa;
    padding: 5px;
    resize: none;
    white-space: pre-wrap;
  }

  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}

:not(pre) > code {
    background-color: #eee;
    padding: 3px;
}